
.shipList {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;   /* optional */
  height: 500px;  /* optional */
  gap: 2px;       /* optional */
}

.cell {
  background-color: #ddd;
}

.cell:hover {
  background-color: bisque;
}

.gameboard.player1 > .cell.ship {
  background-color: black;
}
.cell.hit::after {
  content: "X";
}

/*TEMP*/
.gameboard.player2 > .cell.ship {
  background-color: grey;
}

#placingShipsP {
  display: flex;
  flex-direction: row;      /* horizontal row */
  align-items: center;      /* vertical centering */
  gap: 50px;                /* spacing between items */
  background-color: red;
  color: white;
  padding: 5px;
}

#placingShipsP > p {
  margin: 0;               /* remove default top/bottom margin */
}